{% if site.data.comments.[page.slug] %}

{% assign all_comments = site.data.comments.[page.slug] | sort %}

<section class="pt2">

    <h2 class="f4 lh-title georgia normal">Comments</h2>

    {% for comments in all_comments %}

    {% assign comment = comments[1] %}

    {% unless comment.hp != "" %}

    <article class="mb4 pa2 pa3-ns ba b--moon-gray c-linky-visited" id="{{ comment._id }}">

        <header class="pb1 bb b--light-gray mb2">

            <h3 class="f5 lh-title mt0 mb1">{{ comment.name | strip_html }}</h3>

            <p class="f6 gray ma0"><time><a href="{{ page.url }}#{{ comment._id}}">{{ comment.date | date: "%b %-d, %Y, %H:%M" }}</a></time></p>

        </header>

        <div class="c-no-top-margin c-linky-underline">

            {{ comment.message | strip_html | markdownify | smartify }}

        </div>

    </article>

    {% endunless %}

    {% endfor %}

</section>

{% endif %}
