            </div>

        </main>

        <nav id="nav" class="pb3 pt4 ph3 ph4-ns">

            <div class="c-wrapper center">

                <ul class="f7 list ma0 pa0">

                    {% assign nav_pages = site.pages | where: "in_nav", "true" | sort: "order" %}

                    {% for current_page in nav_pages %}

                    <li class="dib mr2"><a href="{{ current_page.url }}" class="pv1 black no-underline">{{ current_page.title }}</a></li>

                    {% endfor %}

                </ul>

            </div>

        </nav>

        <script>
            if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
                }
            });
            }
        </script>

    </body>

</html>
