        </main>

        <script>
            var searchToggleElement = document.querySelector(".has-toggle-button");
            searchToggleElement.addEventListener('click', function() {
            let expanded = this.getAttribute('aria-expanded') === 'true' || false;
            this.setAttribute('aria-expanded', !expanded);
            let thingToToggle = document.querySelector(".toggle-this");
            thingToToggle.hidden = !thingToToggle.hidden;
            });
        </script>


        <script>
            $(document).ready(function() {
            });
        </script>

        <script>
            if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
                }
            });
            }
        </script>

    </body>

</html>
