<!DOCTYPE html>

<html class="f4-ns" lang="{{ site.lang }}">

    <head>

        {% if page.is_home %}
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        {% else %}
        <title>{{ page.title }} &#8211; {{ site.title }}</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        {% if site.css == 'inline' %}
        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>
        {% else %}
        <link href="/css/style.css" rel="stylesheet">
        {% endif %}

    </head>

    <body class="ma0 pa2 pa4-ns bg-white dark-gray sans-serif lh-copy">

        <ul class="clip">

            {% unless page.is_home %}<li><a href="#content">Skip to content</a></li>{% endunless %}
            <li><a href="#nav">Skip to navigation</a></li>

        </ul>

        {% if page.is_home != true %}

        <div class="measure center c-sans-serif mt2-ns mb4 mb5-l">

            <p class="f6 ma0"><a href="/" class="no-underline pv1"><span role="img" aria-label="Finger showing way to home page">👆</span> {{ site.title }}</a></li>

        </div>

        {% endif %}

        <div class="measure center">

            <main id="content">
