<!-- <ul class="b mh0 ph0 list c-linky-visited">

{% for cat in site.data.cats %}

    <li class="ml0 pl0 dib mr2 mr3-ns"><a href="/posts/{{ cat.slug }}/" class="pv1">{{ cat.name }}</a></li>

{% endfor %}

</ul>

<hr class="pb4"> -->

<details class="mb4">

    <summary class="b pointer">Categories</summary>

    <ul class="ma0 pa0 list c-linky-visited bb b--light-gray">

        {% for cat in site.data.cats %}

        <li><a href="/posts/{{ cat.slug }}/" class="db bt b--light-gray pv1">{{ cat.name }}</a></li>

        {% endfor %}

    </ul>

</details>
