{% if page.category %}

    {% if page.category == "all" %}

        {% assign posts = site.posts %}

    {% else %}

        {% assign posts = site.posts | where: "category", page.category %}

    {% endif %}

{% endif %}

{% if page.annualised %}

    {% for post in posts limit:include.post-limit | default:500 %}

        {% assign currentdate = post.date | date: "%Y" %}

        {% if currentdate != date %}

            {% unless forloop.first %}</ul>{% endunless %}

            <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>

            <ul class="list mb0 mh0 mt4 pa0 c-sans-serif">

            {% assign date = currentdate %}

        {% endif %}

                <li class="pb3"><a class="db c-lh-title" href="{{ post.url }}">{{ post.title }}</a> <time class="mv1 f6 silver c-lh-copy">{{ post.date | date: "%b %d, %Y" }}</time></li>

        {% if forloop.last %}</ul>{% endif %}

    {% endfor %}

{% else %}

    <ul class="list mb0 mh0 mt4 pa0 c-linky-visited c-sans-serif">

    {% for post in posts limit:include.post-limit | default:500 %}

        <li class="pb3"><a class="db c-lh-title no-underline" href="{{ post.url }}">{{ post.title }}</a> <time class="mv1 f6 silver c-lh-copy">{{ post.date | date: "%b %d, %Y" }}</time></li>

    {% endfor %}

    </ul>

{% endif %}
