<div class="article">

    {% if page.filter %}

        {% assign posts = site.posts | where: page.filter, "true" %}

    {% else %}

        {% if page.category == "all" %}

            {% if page.featured_listing %}

                {% assign posts = site.posts | where: "featured", "true" %}

            {% else %}

                {% assign posts = site.posts %}

            {% endif %}

        {% else %}

            {% assign posts = site.posts | where: "category", page.category %}

        {% endif %}

    {% endif %}

    {% if page.collection %}

        {% assign posts = site.[page.collection] | sort: "date" | reverse %}

    {% endif %}

    {% if page.annualised %}

        {% for post in posts limit:include.post-limit | default:500 %}

            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

            {% if forloop.first %}

            <h2>{{ this_year }}</h2>

            <ul class="list mb0 pa0">

            {% endif %}

                <li class="mb3"><a href="{{ post.url }}">{{ post.title }}</a><time class="db mb3 light-silver">{{ post.date | date: "%-d %b, %Y" }}</time></li>

            {% if forloop.last %}

            </ul>

            {% else %}

                {% if this_year != next_year %}

                </ul>

                <h2>{{next_year}}</h2>

                <ul class="list mb0 pa0">

                {% endif %}

            {% endif %}

        {% endfor %}

    {% else %}

        {% for post in posts limit:include.post-limit | default:500 %}

        <div class="mb2 mb1-l flex-l">

            <div class="w-75-l pr2-l"><a class="db pv1" href="{{ post.url }}">{{ post.title }}</a></div>

            <div class="w-25-l pl2-l tr-l pv1">{{ post.date | date: "%Y" }}</div>

        </div>

        {% endfor %}

    {% endif %}

</div>
