{% if page.filter %}

    {% assign posts = site.posts | where: page.filter, "true" %}

{% else %}

    {% if page.category == "all" %}

        {% assign posts = site.posts %}

    {% else %}

        {% assign posts = site.posts | where: "category", page.category %}

    {% endif %}

{% endif %}

{% if page.collection %}

    {% assign posts = site.[page.collection] | sort: "date" | reverse %}

{% endif %}

{% if page.annualised %}

    {% for post in posts limit:include.post-limit | default:500 %}

        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}

        <h2>{{ this_year }}</h2>

        <ul class="list mb0 mt4 pa0 bb b--light-gray c-sans-serif">

        {% endif %}

            <li><a class="db pv2 bt b--light-gray" href="{{ post.url }}">{{ post.title }}</a><!-- <time class="mv1 f6 silver c-lh-copy">{{ post.date | date: "%b %d, %Y" }}</time> --></li>

        {% if forloop.last %}

        </ul>

        {% else %}

            {% if this_year != next_year %}

            </ul>

            <h2>{{next_year}}</h2>

            <ul class="list mb0 mt4 pa0 bb b--light-gray c-sans-serif">

            {% endif %}

        {% endif %}

    {% endfor %}

{% else %}

    <ul class="list pa0 ma0 mt4 c-sans-serif">

    {% for post in posts limit:include.post-limit | default:500 %}

        <li class="mb4">

            <a class="db f4 mb1 b c-lh-title" href="{{ post.url }}">{{ post.title }}</a>

            <time class="db f6 gray">{{ post.date | date: "%d-%m-%y" }}</time>

        </li>

    {% endfor %}

    </ul>

{% endif %}
