<header class="pb4 mb4 bb b--blue">

	<h1 class="{% if page.hide-title %}clip {% endif %}f2 white lh-title p-name">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

	{% if page.summary %}

	<p class="f3 lh-title c-text-wrap-balance light-blue mb0">{{ page.summary }}</p>

	{% endif %}

	{% if page.is_work %}

	<dl class="mv3">

    	{% if page.roles %}
    	<dt class="ma0">Roles</dt>
    	<dd class="b mh0 mb3">{{ page.roles }}</dd>
    	{% endif %}
    	{% if page.partners %}
    	<dt class="mb0">Partners</dt>
    	<dd class="b mh0 mb3">{{ page.partners }}</dd>
    	{% endif %}

    </dl>

	{% endif %}

	{% if page.image %}

	<img class="db mv4" alt="{{ page.alt }}" src="/images/{{ page.image }}">

	{% endif %}

</header>