<ul class="list mb0 mh0 mt4 pa0 c-linky-visited c-sans-serif">

{% assign items = paginator.posts %}

{% for item in items %}

    <li class="pb3"><a class="db c-lh-title" href="{{ item.url }}">{{ item.title }}</a><time class="mv1 f6 gray c-lh-copy dt-published" datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%b %-d, %Y" }}</time></li>

{% endfor %}

</ul>

{% if paginator.total_pages > 1 %}

<footer class="pt3 c-linky-visited">

    <div class="cf mb3">

        {% if paginator.next_page %}

            <div class="w-50 pl3 fr tr">

              <a class="f6 b" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rarr;</a>

            </div>

        {% endif %}

      {% if paginator.previous_page %}

          <div class="fl w-50 pr3">

            <a class="f6 b" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer</a>

          </div>

      {% endif %}

    </div>

</footer>

{% endif %}
