@media screen, projection {

// Define variables in _variables.scss
// Then create classes that refer to them here
// Then use these class names in your HTML

// Example: create an alternative sans-serif class
// Define $c-sans-serif in _variables.scss
// Then create a c-sans-serif class here
// Like so:


.c-sans-serif {
    font-family: $c-sans-serif;
}

.c-serif {
    font-family: $c-serif;
}

.c-lh-copy {
    line-height: $c-lh-copy;
    @media #{$breakpoint-medium} {
        line-height: $c-lh-copy-m;
    }
    @media #{$breakpoint-large} {
        line-height: $c-lh-copy-l;
    }
}

.c-font-size {
    font-size: $c-font-size;
    @media #{$breakpoint-medium} {
        font-size: $c-font-size-m;
    }
    @media #{$breakpoint-large} {
        font-size: $c-font-size-l;
    }
}

.c-lh-title {
    line-height: $c-lh-title;
}

.c-wrapper {
    max-width: $c-wrapper;
}

.c-icon {
	color: transparent;
	text-shadow: 0 0 $highlight;
}

.c-highlight {
    color: $highlight;
}

.c-link {
    color: $link;
}

.c-clip-path {
    clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
}

.c-hover-turn:hover {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}


// Body text

/* .c-body-text p,
.c-body-text ul,
.c-body-text ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.c-body-text li {
    margin-left: 0;
} */

.c-body-text blockquote {
    font-size: 0.875em;
    padding: 1rem 0;
    margin: 1rem 0;
}

.c-body-text figure,
.c-body-text img {
    max-width: 100%;
    box-sizing: border-box;
}

.c-body-text img {
    display: block;
    margin: 0.5rem 0;
}

.c-body-text figcaption {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875em;
}


// Prose styling

.c-prose-headings h1,
.c-prose-headings h2,
.c-prose-headings h3,
.c-prose-headings h4,
.c-prose-headings h5,
.c-prose-headings h6,
.c-prose-headings dt {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    line-height: $c-lh-title;
    color: $link;
}

.c-prose-headings h1 + *,
.c-prose-headings h2 + *,
.c-prose-headings h3 + *,
.c-prose-headings h4 + *,
.c-prose-headings h5 + *,
.c-prose-headings h6 + *,
.c-prose-headings dt + * {
    margin-top: 0;
}

.c-prose-headings h1,
.c-prose-headings h2 {
    font-size: 1.25rem;
}

@media #{$breakpoint-not-small} {
  font-size: 1.5rem;
}

.c-prose-headings h3 {
    font-size: 1rem;
}

@media #{$breakpoint-not-small} {
  font-size: 1.25rem;
}

.c-prose-headings h4,
.c-prose-headings h5,
.c-prose-headings h6 {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

.c-hyphens {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.c-box-decoration-break-clone {
    box-decoration-break: clone;
}

.c-linky-underline a {
    text-decoration: underline;
    text-decoration: solid underline $highlight 2px;
}

.c-linky-visited a:link {
    color: $link;
}

.c-linky-visited a:visited {
    color: $visited;
}

.c-linky-visited a:hover,
.c-linky-visited a:active {
    color: $highlight;
}

.c-no-top-margin * {
    margin-top: 0 !important;
}

.vid,
.constrain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.vid iframe,
.vid object,
.vid embed,
.constrain iframe,
.constrain object,
.constrain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// More defaults

a {
    text-decoration: none;
}

abbr {
    cursor: help;
}

figure {
    margin: auto 0;
}

code {
    font-size: 0.875em;
    font-family: "Fira Mono", "IBM Plex Mono", Consolas, Menlo, "Courier New", monospace;
}

pre {
    overflow: auto;
    padding: 0.25em;
    background-color: #000;
    color: #FFA3D7; // Tachyons light-pink
}

pre code {
    padding: 0;
    background-color: inherit;
    color: #9EEBCF; // Tachyons light-green
}

hr {
    overflow: visible; /* For IE */
    border: none;
    border-top: medium double #EEE;
    text-align: center;
    max-width: 34rem;
}

table {
    min-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    text-align: left;
}

th {
    padding: 0.25rem;
    border-bottom: 1px solid #AAA;
    margin: 0;
}

td {
    padding: 0.25rem;
    border-bottom: 1px solid #777;
    margin: 0;
}

blockquote {
    font-size: 0.875em;
}

*:focus {
    outline: 3px solid #FFB700;
}



// Some empty media queries
// Use these if you want to make responsive custom classes

@media #{$breakpoint-not-small} {
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
}


} // End the enclosing screen/projection media query


// Print styles

@media print {

* {
  background-color: white !important;
  color: black !important;
  font-family: $c-sans-serif;
  line-height: 1.375;
}

.measure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 2em;
}

.p-name {
    margin-top: 0;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #AAA;
}

.c-no-print {
  display: none;
}


}
