@font-face {
  font-family: Molde;
  src: url('/fonts/molde/Molde-Regular.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-family: Molde;
  src: url('/fonts/molde/Molde-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: optional;
}

@font-face {
  font-family: Molde;
  src: url('/fonts/molde/Molde-RegularItalic.woff2') format('woff2');
  font-style: italic;
  font-display: optional;
}