@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("/fonts/libre-franklin/libre-franklin-v3-latin-regular.woff2") format("woff2"),
    url("/fonts/libre-franklin/libre-franklin-v3-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: url("/fonts/libre-franklin/libre-franklin-v3-latin-italic.woff2") format("woff2"),
    url("/fonts/libre-franklin/libre-franklin-v3-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-display: auto;
  src: url("/fonts/libre-franklin/libre-franklin-v3-latin-700.woff2") format("woff2"),
    url("/fonts/libre-franklin/libre-franklin-v3-latin-700.woff") format("woff");
}
