// Add your custom variables to this file
// I normally prepend them with a 'c-' to distinguish them from Tachyons selectors

// Better sans-serif stack putting Segoe before Arial on Windows
// We'll refer to this variable in _c.scss
$c-sans-serif: "Fira Sans", -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;

$c-serif: 'IBM Plex Serif', georgia, serif;

$c-font-size: 106.75%;
$c-font-size-m: 118.75%;
$c-font-size-l: 131.25%;

$c-lh-title: 1.2;

$c-lh-copy: 1.375;
$c-lh-copy-m: 1.5;
$c-lh-copy-l: 1.6;

$c-wrapper: 32rem;

$highlight: #00449E; //dark blue
