// Add your custom variables to this file
// I normally prepend them with a 'c-' to distinguish them from Tachyons selectors

// Better sans-serif stack putting Segoe before Arial on Windows
// We'll refer to this variable in _c.scss
$c-sans-serif: -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;

$c-serif: 'Libre Baskerville', baskerville, georgia, serif;

$c-font-size: 100%;
$c-font-size-m: 100%;
$c-font-size-l: 100%;

$c-lh-title: 1.2;

$c-lh-copy: 1.4;
$c-lh-copy-m: 1.5;
$c-lh-copy-l: 1.6;

$c-wrapper: 48rem;
$c-mw: 30rem;

$highlight: #D5008F;
