---
layout: default
title: Links
order: 5
in_nav: false
visited-links: true
prose-headings: true
underlined-links: true
hyphens: true
pagination:
  enabled: true
  collection: links
---

<ul class="list mb0 mh0 mt4 pa0">

{% assign links = paginator.posts %}

{% for link in links %}

    <li class="pb3"><a class="db c-lh-title" href="{{ link.url }}">{{ link.title }}</a><time class="mv1 f6 gray c-lh-copy dt-published" datetime="{{ link.date | date: "%Y-%m-%d" }}">{{ link.date | date: "%b %-d, %Y" }}</time></li>

{% endfor %}

</ul>

{% if paginator.total_pages > 1 %}

<footer class="pt3">

    <div class="cf mb3">

        {% if paginator.next_page %}

            <div class="w-50 pl3 fr tr">

              <a class="f6" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older links &rarr;</a>

            </div>

        {% endif %}

      {% if paginator.previous_page %}

          <div class="fl w-50 pr3">

            <a class="f6" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer links</a>

          </div>

      {% endif %}

    </div>

</footer>

{% endif %}
