{% include header.html %}

<article class="h-entry">

    {% unless page.hide-title %}

    <h1 class="f2 mb4 c-lh-title p-name tc c-sans-serif">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

    {% endunless %}

     <div class="{% if page.visited-links %}c-linky-visited {% endif %}{% if page.prose-headings %}c-prose-headings {% endif %}{% if page.underlined-links %}c-linky-underline {% endif %}{% if page.hyphens %}c-hyphens {% endif %}c-body-text">

        {{ content}}

    {% if page.pagination %}

        {% include paginated-list.html %}

    {% else %}

        {% include list.html %}

    {% endif %}

    </div>

</article>

{% include footer.html %}
