{% include header.html %}

<article class="h-entry pb3">

    {% unless page.hide-title %}

        <div class="mb4">

            <h1 class="f3 c-lh-title p-name c-link">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

        </div>

    {% endunless %}

     <div class="{% if page.visited-links %}c-linky-visited {% endif %}{% if page.prose-headings %}c-prose-headings {% endif %}{% if page.underlined-links %}c-linky-underline {% endif %}{% if page.hyphens %}c-hyphens {% endif %}c-body-text">

        {{ content}}

    </div>

    {% if page.pagination %}

        {% include paginated-list.html %}

    {% else %}

        {% include list.html %}

    {% endif %}

</article>

{% include footer.html %}
