{% include header.html %}

<article>

    <header class="pa2 pv4-ns ph5-ns bb b--light-gray">

        <h1 class="f2 lh-title measure mt0 mb2">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

    </header>

    <div class="pa2 pv4-ns ph5-ns bb b--light-gray {% if page.visited-links %}c-linky-visited {% endif %}{% if page.prose-headings %}c-prose-headings {% endif %}{% if page.underlined-links %}c-linky-underline {% endif %}{% if page.hyphens %}c-hyphens {% endif %}">

        {% unless page.title == 'Posts' %}<div class="c-constrain-kids">{% endunless %}

            {{ content}}

        {% unless page.title == 'Posts' %}</div>{% endunless %}

    </div>

</article>

{% include footer.html %}
