{% include header.html %}

<article class="h-entry">

    <h1 class="f2 tc c-sans-serif mb4 c-lh-title p-name c-linky-visited"><a href="{{ page.link-url }}" class="db">{{ page.title }}</a></h1>

    <p class="mb4 c-linky-underline c-linky-visited">Link: <a href="{{ page.link-url }}"><cite>{{ page.title }}</cite> &rarr;</a></p>

    <!-- <p class="mb0 mt1 c-linky-underline f6">{% if page.category %}Filed under <a class="pv1" href="/posts/{{ page.category }}/">{{ page.category | capitalize }}</a>. {% endif %}{% unless page.disable_comments %}<a class="pv1" href="#comment-form">{% if site.data.comments[page.slug] %}Comments{% else %}Add a comment{% endif %}</a>{% endunless %}</p>-->

    <div class="e-content c-prose-headings c-hyphens c-linky-visited c-linky-underline entry-content c-body-text">

        {{ content }}

        <p class="mt4 f6 c-sans-serif c-linky-underline c-linky-visited">— {% if page.link-published %}Originally published <time class="dt-published" datetime="{{ page.link-published | date: "%Y-%m-%d" }}">{{ page.link-published | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.link-author %} by {{ page.link-author }}{% endif %} / <a href="/links/">Links</a></p>

    </div>

    <!-- {% unless page.disable_comments %}

    <footer class="pt3">

        <div class="mb4">

            {% include comment-form.html %}

            {% assign all_comments = site.data.comments | where: "slug", page.slug %}

            {% if all_comments.size > 0 %}

            {% include comments.html %}

            {% endif %}

        </div>

    </footer>

    {% endunless %} -->

</article>

{% include footer.html %}
