{% include header.html %}

<article class="h-entry">

    <header class="mb4 c-sans-serif">

        <p class="mt0 f6 gray c-linky-underline c-linky-visited"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time> / <a href="/notes/">Notes</a></p>

        <p class="gray f6 mb0 mt1 c-linky-underline c-linky-visited">{% if page.category %}Filed under <a class="pv1" href="/posts/{{ page.category }}/">{{ page.category | capitalize }}</a>. {% endif %}<!--{% unless page.disable_comments %}<a class="pv1" href="#comment-form">{% if site.data.comments[page.slug] %}Comments{% else %}Add a comment{% endif %}</a>{% endunless %}--></p>

    </header>

    <div class="e-content c-prose-headings c-hyphens c-linky-visited c-linky-underline entry-content">

        {{ content }}

    </div>

    <!-- {% unless page.disable_comments %}

    <footer class="pt3">

        <div class="mb4">

            {% include comment-form.html %}

            {% assign all_comments = site.data.comments | where: "slug", page.slug %}

            {% if all_comments.size > 0 %}

            {% include comments.html %}

            {% endif %}

        </div>

    </footer>

    {% endunless %} -->

</article>

{% include footer.html %}
