{% include header.html %}

<div class="h-entry">

    <div class="mb4-ns c-wrapper center c-linky-visited c-linky-underline">

        <p class="mt0 f6 mid-gray"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time> / <a href="/notes/">Notes</a></p>

        <p class="mid-gray f6 mb0 mt1">{% if page.category %}Filed under <a href="/posts/{{ page.category }}/">{{ page.category | capitalize }}</a>. {% endif %}<!--{% unless page.disable_comments %}<a class="pv1" href="#comment-form">{% if site.data.comments[page.slug] %}Comments{% else %}Add a comment{% endif %}</a>{% endunless %}--></p>

    </div>

    <div class="e-content c-prose-headings c-hyphens c-linky-visited c-linky-underline entry-content c-body-text">

        {{ content }}

    </div>

    <!-- {% unless page.disable_comments %}

    <footer class="pt3">

        <div class="mb4">

            {% include comment-form.html %}

            {% assign all_comments = site.data.comments | where: "slug", page.slug %}

            {% if all_comments.size > 0 %}

            {% include comments.html %}

            {% endif %}

        </div>

    </footer>

    {% endunless %} -->

</div>

{% include footer.html %}
