{% include header.html %}

{% for cat in site.data.cats %}

    {% if cat.slug == page.category %}

        {% assign slug = cat.slug %}
        {% assign category = cat.name %}

    {% endif %}

{% endfor %}

<article class="h-entry">

    <header class="pa2 pv4-ns ph5-ns bb b--light-gray flex flex-column flex-column-reverse">

        <h1 class="f2 lh-title measure-narrow mt0 p-name">{{ page.title }}</h1>

        <p class="gray f6 mb2"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time> / {% if page.note %}<a href="/posts/notes/" class="dark-blue no-underline hover-dark-gray">Notes</a>{% else %}<a href="/posts/" class="dark-blue no-underline hover-dark-gray">See all posts &rarr;</a>{% endif %}</p>

    </header>

    <div class="pa2 pv4-ns ph5-ns bb b--light-gray">

        <div class="c-constrain-kids e-content c-prose-headings c-hyphens c-linky-visited c-linky-underline entry-content">

            {{ content}}

        </div>

        <p class="f6 gray mt4 c-sans-serif">— <a href="/" class="p-author dark-blue no-underline" rel="author">Leon Paternoster</a></p>

    </div>

</article>

{% include footer.html %}
