{% include header.html %}

{% for cat in site.data.cats %}

    {% if cat.slug == page.category %}

        {% assign slug = cat.slug %}
        {% assign category = cat.name %}

    {% endif %}

{% endfor %}

<article class="h-entry flex-l">

    <header class="w-third-l ph2 pv3 ph5-ns bg-navy light-gray bb b--light-gray">

        <div class="flex flex-column flex-column-reverse items-start">

            <h1 class="f2 f3-l lh-title measure-narrow mt0 p-name">{{ page.title }}</h1>

            <p class="light-gray f6 mb2"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time> / {% if page.note %}<a href="/posts/notes/" class="dark-blue no-underline hover-dark-gray">Notes</a>{% else %}<a href="/posts/" class="light-blue no-underline hover-washed-blue">See all posts &rarr;</a>{% endif %}</p>

        </div>

    </header>

    <div class="w-two-thirds-l ph2 pv3 ph5-ns bb b--light-gray bg-washed-yellow">

        <div class="c-constrain-kids e-content c-prose-headings c-hyphens c-linky-visited c-linky-underline entry-content measure-wide">

            {{ content }}

        </div>

        <p class="f6 gray mt4 c-sans-serif">— <a href="/" class="p-author dark-blue no-underline" rel="author">Leon Paternoster</a></p>

    </div>

</article>

{% include footer.html %}
