{% include header.html %}

{% for cat in site.data.cats %}

    {% if cat.slug == page.category %}

        {% assign slug = cat.slug %}
        {% assign category = cat.name %}

    {% endif %}

{% endfor %}

<article class="measure center h-entry">

    <h1 class="f2 mb4 p-name">{{ page.title }}</h1>

    <!-- <p class="gray f6 mb0 mt1 c-linky-underline c-linky-visited">{% if page.category %}Filed under <a class="pv1" href="/posts/{{ page.category }}/">{{ page.category | capitalize }}</a>. {% endif %}{% unless page.disable_comments %}<a class="pv1" href="#comment-form">{% if site.data.comments[page.slug] %}Comments{% else %}Add a comment{% endif %}</a>.{% endunless %}</p> -->

    {{ content }}

    <footer class="f7 mt4 c-sans-serif">

        <p>– <time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}</time></p>

    </footer>

    <!-- {% unless page.disable_comments %}

    <footer class="pt3">

        <div class="mb4">

            {% include comment-form.html %}

            {% assign all_comments = site.data.comments | where: "slug", page.slug %}

            {% if all_comments.size > 0 %}

            {% include comments.html %}

            {% endif %}

        </div>

    </footer>

    {% endunless %} -->

</article>

{% include footer.html %}
