{% include header.html %}

<article class="c-overflow-wrap">

    {% unless page.hide-title %}

        {% include page-header.html %}

    {% endunless %}

    <ul class="list pa0 c-sans-serif">

    	{% if page.roles %}
    	<li>Roles: <strong>{{ page.roles }}</strong></li>
    	{% endif %}
    	{% if page.year %}
    	<li>When: <strong>{{ page.year }}</strong></li>
    	{% endif %}
    	{% if page.partners %}
    	<li>Partners: <strong>{{ page.partners }}</strong></li>
    	{% endif %}

    </ul>

    {% if page.image %}<img class="db mt3 mb4 pa0" alt="{{ page.alt }}" src="/images/{{ page.image }}">{% endif %}

    {{ content }}

</article>

{% include footer.html %}
